@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .slide-down {
    animation: slideDown 0.5s ease-in-out;
  }
}

@layer base {
  html,
  body {
    font-family: Inter, system-ui, sans-serif;
  }
}
